body { margin: 0; padding: 0; }
ul,li { margin: 0; padding: 0; }

/* clearfix */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
 
.clearfix:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

.embedControls {
    height: 46px; width: 100%;
	position: fixed; bottom: 0;    
	background: rgb(53,68,73); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(53,68,73,1) 54%, rgba(10,16,24,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(53,68,73,1) 54%,rgba(10,16,24,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(53,68,73,1) 54%,rgba(10,16,24,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(53,68,73,1) 54%,rgba(10,16,24,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#354449', endColorstr='#0a1018',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(53,68,73,1) 54%,rgba(10,16,24,1) 100%); /* W3C */
	-moz-box-shadow: inset 0px 1px 2px 1px #9898AC;
	-webkit-box-shadow: inset 0px 1px 2px 1px #9898AC;
	box-shadow: inset 0px 1px 2px 1px #9898AC;
	font-weight: bold; line-height: 46px; font-size: 12px;
    list-style: none;
	opacity: 0;
	-webkit-transition: opacity 0.8s ease-in-out;
	-moz-transition: opacity 0.8s ease-in-out;
	-ms-transition: opacity 0.8s ease-in-out;	
	transition: opacity 0.8s ease-in-out;
}
	html:hover  .embedControls { opacity: 1; }
	.embedControls li {
        margin-right: 10px;
        float: right;
    }
        .embedControls a {
            border: 1px solid rgb(142, 193, 218); padding: 7px 5px;
            color: rgb(57, 133, 168); opacity: 0.6; text-decoration: none; text-shadow: 0 1px white;
            background: rgb(221, 238, 246);
            -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
            -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
            box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
            -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;            
        }
		.embedControls a:hover { opacity: 1; }
